/*** fixing bug on reflex ***/
:root {
  --c2: black;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 120vh; 
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, serif;
  font-size: 18px;
  background: radial-gradient(circle at 50% 0%, #282828, #fff0), radial-gradient(circle at 50% 30%, #ebaf3f31, #282828);
  overflow-y: scroll;
}
body * {
  box-sizing: border-box;
  
}
.site-conteiner {
  position: relative;
  
}
.site-conteiner h1{
  font-family: "Cuprum", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color:white;
  position: relative;
  top: -30px; 
  font-size: 55px;
  letter-spacing: 13px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

/*** Botoes***/
.wrapper {
  display: flex;
  list-style: none;
  height: fit-content;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: -85px;
  right:auto;
  align-items: top;
 
}

.wrapper .icon {
  position: relative;
  background: #4d4b4b;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  top: 0;
  right: 0;
  
}


.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #4d4b4b;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedink:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}

.wrapper .gmail:hover,
.wrapper .gmail:hover .tooltip,
.wrapper .Gmail:hover .tooltip::before {
  background: #282828;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e23757;
  color: #fff;
}
.wrapper .imagem button{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0; 
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
}
.wrapper .icon .imagem img{
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  max-height: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: color;
  top: 20%;
  left: 0;
  
  
}

/*** Conjunto de Cards ***/
.gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
}
.gallery:before, .gallery:after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 0 solid #fff;
  border-width: 0 0 3px 3px;
  transform: rotate(45deg);
  left: 100px;
  top: 11px;
  border-radius: 2px;
  opacity: 0.5;
  animation: hide-s 2s ease 6s 1;
  animation-fill-mode: forwards;
}
.gallery:after {
  left: auto;
  right: 100px;
  transform: rotate(-135deg);
}


/**** Animação texto acima dos card **** */
.resizer {
  position: absolute;
  top: 0;
  width: calc(90% - 45px);
  height: 36px;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 1px;
  animation: letter-s 2s ease 0s 3 alternate, hide-s 2s ease 6s 1;
  animation-fill-mode: backwards, forwards;
  opacity: 0.5;
}
.resizer:before, .resizer:after {
  content: "";
  position: absolute;
  width: calc(50% - 125px);
  border-bottom: 4px dotted #ffffff;
  margin-left: 20px;
  top: 18px;
  left: 0;
  animation: lines-s 2s ease 0s 3 alternate;
}
.resizer:after {
  right: 15px;
  left: inherit;
  margin-right: 7px;
}

@keyframes letter-s {
  0% {
    letter-spacing: 8px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@keyframes lines-s {
  0% {
    width: calc(50% - 175px);
  }
  100% {
    width: calc(50% - 125px);
  }
}
@keyframes hide-s {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/*** Especificação dos card ***/
.item {
  width: calc(350px - 20px);
  height: calc(456px - 20px);
  height: 50vh;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 3px 1px #0006;
  
}
.item button{
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.item:before {
  font-size: 30px;
  line-height: 50px;
  padding-left: 10px;
  mix-blend-mode: exclusion;
  border-radius: 15px;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(110deg, #fffd, #fff0 20%, #282828 70%, #fffd);
  opacity: 1;
  transition: opacity 0.65s ease 0s;
  box-sizing: border-box; 
}

.item:after {
  content: "";
  background-color: #fff9;
  opacity: 0.6;
  top: 0;
  bottom: 0;
  left: -100%;
  position: absolute;
  width: 5vmin;
  box-shadow: 0 0 10vmin 2.5vmin #fff;
  transform: skew(-20deg);
  transition: all 0.25s ease;
}
.item:hover:before {
  opacity: 0;
  transition: opacity 0.65s ease 0s;
}
.item:hover:after {
  left: 400px;
  transition: left 0.5s ease 0s;
}

/*** Config do sobre mim ***/
.Info{
  padding-top: 50px;
  padding-left: 10px;
  display: flex;
  column-gap: 30px;
 
}
.Info h2{
  font-family: "Cuprum", sans-serif;
  font-style: italic;
  width: 8%;
}
.Info .content-info p {
  font-family: "Cuprum", sans-serif;
  font-style: italic;
  color: white;
  font-size: 20px;
  margin: 0;
  text-indent: 3ch;
  max-width: 70%;
  line-height: 1.5em;
}

/*** atribuição de cada imagem do card ***/
.item:nth-child(1) {
  background-image: url(/antono/matando_dragoesPior.jpg);  
 
}

.item:nth-child(2) {
  background-image: url(/antono/catnaipe\ akira\ pior.jpg);
}

.item:nth-child(3) {
  background-image: url(/antono/Tocar\ da\ PelePior.jpg);
 
}

.item:nth-child(4) {
  background-image: url(/antono/NETO\ E\ LUCA\ COVERPior.jpg);
}

.item:nth-child(5) {
  background-image: url(/antono/GataradaPior.jpg);
}

.item:nth-child(6) {
  background-image: url(/antono/feed\ meio\ eu\ e\ clara\ pior.jpg);
}

.item:nth-child(7) {
  background-image: url(/antono/Meu\ amorPior.jpg);
}

.item:nth-child(8) {
  background-image: url(/antono/Alien\ capa\ pior.jpg);
}

.item:nth-child(9) {
  background-image: url(/antono/Icon\ PcPior.jpg);
}

.item:nth-child(10) {
  background-image: url(/antono/Pau\ No\ Cesar\ bosquetePior.jpg);
}

.item:nth-child(11) {
  background-image: url(/antono/ICONE\ CAIQUEPior.jpg);
}

.item:nth-child(12) {
  background-image: url(/antono/DARA\ rpgrpior.jpg);
}

.item:nth-child(13) {
  background-image: url(/antono/Tono\ Vagabond\ fundo\ brancoPior.jpg);
}

.item:nth-child(14) {
  background-image: url(/antono/Vem\ Pra\ Pixta\ REAL\ OFICIAL\ NACIONALPior.jpg);
}

.item:nth-child(15) {
  background-image: url(/antono/TEST\ DRIVE\ CD\ COVER\ CANCELADOPior.jpg);
}

.item:nth-child(16) {
  background-image: url(/antono/TEST\ DRIVE\ CANCELADOPior.jpg);
}

.item:nth-child(17) {
  background-image: url(/antono/JESTERPior.jpg);
}

.item:nth-child(18) {
  background-image: url(/antono/GUIN\ PINGUINPior\ .jpg);
}

.item:nth-child(19) {
  background-image: url(/antono/FALA\ TUBAROES!Pior.jpg);
}

.item:nth-child(20) {
  background-image: url(/antono/MIRO\ rpgRPior.jpg);
}
.item:nth-child(21) {
  background-image: url(/antono/5eeb226390a51e2d11e413453f976c67.jpg);
}



/*** Card Numbers ***/
/* .item:nth-child(1):before {
  content: "1";
}

.item:nth-child(2):before {
  content: "2";
}

.item:nth-child(3):before {
  content: "3";
}

.item:nth-child(4):before {
  content: "4";
}

.item:nth-child(5):before {
  content: "5";
}

.item:nth-child(6):before {
  content: "6";
}

.item:nth-child(7):before {
  content: "7";
}

.item:nth-child(8):before {
  content: "8";
}

.item:nth-child(9):before {
  content: "9";
}

.item:nth-child(10):before {
  content: "10";
}

.item:nth-child(11):before {
  content: "11";
}

.item:nth-child(12):before {
  content: "12";
}

.item:nth-child(13):before {
  content: "13";
}

.item:nth-child(14):before {
  content: "14";
}

.item:nth-child(15):before {
  content: "15";
}

.item:nth-child(16):before {
  content: "16";
}

.item:nth-child(17):before {
  content: "17";
}

.item:nth-child(18):before {
  content: "18";
}

.item:nth-child(19):before {
  content: "19";
}
*/
.item:nth-child(21):before {
  content: "Em Breve...";
  color: yellow ;
  font-style: var(--c2);
} 



/*** Abaixo está os desging dos numeros das paginas ***/
.pagination {
  text-align: center;
}
.pagination ul {
  padding: 0 0px;
  margin: 10px 0 0;
  background: #fff2;
  border-radius: 10px;
}
.pagination ul li {
  display: inline;
  display: inline-flex;
  margin: 5px;
  color: #fff;
}

.pagination li a {
  padding: 10px;
  background: #fffd;
  color: var(--c2);
  text-decoration: none;
  border-radius: 5px;
}

.pagination li.page_link a:hover {
  background: var(--c2);
  color: #fff;
}

.pagination li.active_page a {
  background: var(--c2);
  color: #fff;
}

.pagination li > span {
  font-weight: bold;
  font-size: 15px;
  top: -4px;
  position: relative;
}

.pagination li a span {
  min-width: 20px;
  display: inline-block;
}

.pagination li.page_link.active_page.active a {
  cursor: default;
}
/* Abaixo esta as setas para passar  de página */
li.previous_link a, li.next_link a,
li.first_link a, li.last_link a {
  background: #fff0;
  
  color: #fff0;
  display: block;
  padding: 10px 12px;
}

li.previous_link a:before, li.next_link a:before,
li.first_link a:before, li.last_link a:before {
  content: "";
  border: 2px solid #fff;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  border-width: 3px 0 0 3px;
  transform: rotate(-45deg);
  margin-top: 3px;
  margin-left: 3px;
  border-radius: 2px;
}

li.next_link a:before,
li.last_link a:before {
  transform: rotate(135deg);
  margin-left: -3px;
}

li.first_link a:before, li.last_link a:before {
  filter: drop-shadow(5px 5px 0 #fff);
  margin-left: 0px;
}

li.previous_link a:hover, li.next_link a:hover,
li.first_link a:hover, li.last_link a:hover {
  background: var(--c2);
  border-color: var(--c2);
}

li.no_more.disabled {
  opacity: 0.5;
  pointer-events: none;
}

li.page_link.first.active_page.active a {
  cursor: default;
}

@media screen and (orientation: landscape) and (max-width: 800px) {
  .pagination ul {
    margin-top: 20px;
  }

  .resizer {
    top: 5px;
  }

  .gallery:before, .gallery:after {
    top: 16px;
  }
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

